{% extends "base.html" %}

{% block formulario %}
  <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <br><br>
    <div class="alert alert-warning" role="alert">
        Prestar atención a "{{ ticket.cedula_persona.nombre }}"?
    </div>
    
    <p>
        <a href="{% url 'GestionCola' %}" class="btn btn-secondary"> <-- Volver</a>
    </p>

    <p>
        <input class="btn btn-danger" type="submit" value="Confirm">
    </p>
  </form>
{% endblock %}