{% extends "base.html" %}

{% block formulario %}
  <div class="text-center">
    <h1>{{titulo}}</h1>
    <h2>{{subtitulo}}</h2>
  </div>
  <div class="row py-4">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
      <h2>Cargar datos</h2>
      <div class="card">
        <div class="card-body">
          <form method="POST" action=""> {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Guardar" class="btn btn-primary">
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h2>Listado de Colas</h2>
        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Número</th>
                        <th>Usuario</th>
                        <th>Servicio</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cola in colas %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{cola.numero}}</td>
                        <td>{{cola.id_usuario.cedula_persona.nombre}}</td>
                        <td>{{cola.id_servicio.nombre}}</td>
                        <td><a href="{% url 'EditarCola' cola.id %}" class="btn btn-info">Editar</a></td>
                        <td><a href="{% url 'EliminarCola' cola.id %}" class="btn btn-danger">Eliminar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
  </div>
{% endblock %}