{% extends "base.html" %}

{% block formulario %}
  <div class="text-center">
    <h1>{{titulo}}</h1>
      <div class="card py-4">
        <div class="card-body">
          <form method="POST" action="" > {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Guardar" class="btn btn-primary">
            <p class="py-2">
              <a href="{% url 'Ticket' %}" class="btn btn-secondary"> <-- Volver</a>
            </p>
          </form>
        </div>
      </div>
  </div>
{% endblock %}