{% extends "base.html" %}

{% block formulario %}
  <h1>{{titulo}}</h1>
    <form method="POST" action=""> {% csrf_token %}
      {{form.as_p}}
      <input type="submit" value="Guardar" class="btn btn-primary">
      <p class="py-2">
        <a href="{% url 'Persona' %}" class="btn btn-secondary"> <-- Volver</a>
    </p>
    </form>
{% endblock %}