{% extends "base.html" %}

{% block formulario %}
  <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <br><br>
    <div class="alert alert-danger" role="alert">
        Seguro que quiere eliminar "{{ cola.numero }}"?
    </div>
    
    <p>
        <a href="{% url 'Cola' %}" class="btn btn-secondary"> <-- Volver</a>
    </p>

    <p>
        <input class="btn btn-danger" type="submit" value="Confirm">
    </p>
  </form>
{% endblock %}