{% extends "base.html" %}

{% block formulario %}
<h1>Gestionar cola</h1>
  <h2>Elegir</h2>
  <div class="card">
    <div class="card-body">
      <form method="POST" action=""> {% csrf_token %}
        <select class="form-select" aria-label="Default select example" name="select-cola" id="select-cola">
          <option selected>Seleccionar cola</option>
          {% for cola in colas %}
            <option value="{{cola.id}}">{{cola.numero}}</option>
          {% endfor %}
        </select>
        <div class="py-4">
          <input type="submit" value="Seleccionar" class="btn btn-primary">
        </div>
      </form>
    </div>
  </div>
<h2 class="py-4">Cola</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>id ticket</th>
        <th>Prioridad</th>
        <th>Cédula</th>
        <th>Nombre</th>
        <th>Cola</th>
        <th colspan="2">Opciones</th>
      </tr>
    </thead>
    <tbody>
      {% for ticket in tickets %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{ticket.id}}</td>
          <td>{{ticket.prioridad}}</td>
          <td>{{ticket.cedula_persona}}</td>
          <td>{{ticket.cedula_persona.nombre}}</td>
          <td>{{ticket.id_cola}}</td>
          <td><a href="{% url 'AtenderTicket' ticket.id %}" class="btn btn-success">Atender</a></td>
          <td><a href="{% url 'DerivarTicket' ticket.id %}" class="btn btn-warning">Derivar</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}