<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Turnero Web</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'Inicio' %}">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'Ticket' %}">Solicitar turno</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'Usuario' %}">Gestión Usuario</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'Persona' %}">Gestión Persona</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'Servicio' %}">Gestión Servicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'Cola' %}">Gestión Cola</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'GestionCola' %}">Atención</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Búsqueda" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>