{% extends "base.html" %}

{% block formulario %}
<div class="text-center">
  <h1>{{titulo}}</h1>
  <h2>{{subtitulo}}</h2>
</div>
  <div class="row py-4">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
      <h2>Cargar datos</h2>
      <div class="card">
        <div class="card-body">
          <form method="POST" action=""> {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Guardar" class="btn btn-primary">
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h2>Listado de Personas</h2>
        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Cédula</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Teléfono</th>
                        <th>Email</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for persona in personas %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{persona.cedula}}</td>
                        <td>{{persona.nombre}}</td>
                        <td>{{persona.apellido}}</td>
                        <td>{{persona.telefono}}</td>
                        <td>{{persona.email}}</td>
                        <td><a href="{% url 'EditarPersona' persona.cedula %}" class="btn btn-info">Editar</a></td>
                        <td><a href="{% url 'EliminarPersona' persona.cedula %}" class="btn btn-danger">Eliminar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
  </div>
{% endblock %}