{% extends "base.html" %}

{% block formulario %}
  <div class="text-center">
    <h1>{{titulo}}</h1>
      <h2>{{subtitulo}}</h2>
      <div class="card py-4">
        <div class="card-body">
          <form method="POST" action="" > {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Guardar" class="btn btn-primary">
          </form>
        </div>
      </div>
  </div>
{% endblock %}